body {
  background: blanchedalmond;
  margin: 0;
}

.container .a, .b, .f{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  margin: 1em;
}

.container .a {
  flex-grow: 1;
  background: red;
  margin: 1em;
  min-height: 13.5vh;
}

.b {
  flex-grow: 2;
  background: blue;
  width: 90%;
  min-height: 50vh;
}



.f{
  flex-grow: 1;
  background: orange;
  width: 90%;
  min-height: 13.5vh;
}

.container .c, .d, .e{
  display: inline-flex;
  min-height: 100vh;
  flex-direction: row;
  justify-content: space-between;
  margin: .5em;
}

.container .c {
  flex-grow: 1;
  background: green;
  width: 25%;
  min-height: 10vh;
  margin-left: 1em;
  margin-top: .5em;
  margin-right: .5em;
  margin-bottom: .5em;
}

.d {
  flex-grow: 1;
  background: purple; 
  width: 25%;
  min-height: 10vh;
}

.e{
  flex-grow: 1;
  background: yellow;
  width: 25%;
  min-height: 10vh;
}
@media(min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

.a {
  width: 100%;
}

.b{
  width: 75%;
}

.a, .b, .c {
  margin: 1em;
}
}